{%- comment -%}
  JSON-LD Structured Data Include
  This include generates schema.org structured data based on page type
{%- endcomment -%}

{%- if page.layout == "app" -%}
  {%- assign app = site.data.apps | where: "slug", page.slug | first -%}
  {%- if app -%}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "SoftwareApplication",
  "name": "{{ app.name }}",
  "description": "{{ app.tagline }}",
  "url": "{{ page.url | absolute_url }}",
  "applicationCategory": "{{ app.category }}Application",
  "operatingSystem": "Linux",
  "softwareVersion": "Latest",
  "author": {
    "@type": "Person",
    "name": "{{ site.author | default: 'Tobagin' }}"
  },
  "publisher": {
    "@type": "Person",
    "name": "{{ site.author | default: 'Tobagin' }}"
  },
  "downloadUrl": "https://flathub.org/apps/{{ app.flathub }}",
  "installUrl": "https://flathub.org/apps/{{ app.flathub }}",
  "softwareRequirements": "GNOME Desktop Environment",
  "keywords": [
    {%- for tag in app.tags -%}"{{ tag }}"{%- unless forloop.last -%}, {%- endunless -%}{%- endfor -%}
  ],
  "offers": {
    "@type": "Offer",
    "price": "0",
    "priceCurrency": "USD",
    "availability": "https://schema.org/InStock"
  }
  {%- assign app_images = site.data.image_manifest[app.slug] -%}
  {%- if app_images.icon and app_images.icon.size > 0 -%}
  ,
  "image": {
    "@type": "ImageObject",
    "url": "{{ app_images.icon[0].jpeg | prepend: site.url | prepend: '/' }}",
    "width": {{ app_images.icon[0].width }},
    "height": {{ app_images.icon[0].width }}
  }
  {%- endif -%}
  {%- if app_images.screenshots and app_images.screenshots.size > 0 -%}
  ,
  "screenshot": [
    {%- for screenshot in app_images.screenshots limit: 5 -%}
    {%- if screenshot.variants and screenshot.variants.size > 0 -%}
    {
      "@type": "ImageObject",
      "url": "{{ screenshot.variants[0].jpeg | prepend: site.url | prepend: '/' }}",
      "width": {{ screenshot.variants[0].width }},
      "height": {{ screenshot.height | default: 600 }}
    }{%- unless forloop.last -%},{%- endunless -%}
    {%- endif -%}
    {%- endfor -%}
  ]
  {%- endif -%}
}
</script>
  {%- endif -%}
{%- else -%}
  {%- comment -%} Homepage and other pages - Organization schema {%- endcomment -%}
  {%- if page.url == "/" -%}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": "{{ site.title }}",
  "description": "{{ site.description }}",
  "url": "{{ site.url }}",
  "logo": {
    "@type": "ImageObject",
    "url": "{{ '/assets/images/site-logo.png' | absolute_url }}",
    "width": 512,
    "height": 512
  },
  "sameAs": [
    "https://github.com/tobagin"
  ],
  "contactPoint": {
    "@type": "ContactPoint",
    "contactType": "technical support",
    "url": "https://github.com/tobagin"
  }
}
</script>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "name": "{{ site.title }}",
  "description": "{{ site.description }}",
  "url": "{{ site.url }}",
  "potentialAction": {
    "@type": "SearchAction",
    "target": {
      "@type": "EntryPoint",
      "urlTemplate": "{{ site.url }}/?search={search_term_string}"
    },
    "query-input": "required name=search_term_string"
  },
  "mainEntity": {
    "@type": "ItemList",
    "name": "GNOME Applications",
    "description": "Collection of open source GNOME desktop applications",
    "numberOfItems": {{ site.data.apps.size }},
    "itemListElement": [
      {%- for app in site.data.apps -%}
      {
        "@type": "SoftwareApplication",
        "position": {{ forloop.index }},
        "name": "{{ app.name }}",
        "description": "{{ app.tagline }}",
        "url": "{{ '/apps/' | append: app.slug | absolute_url }}",
        "applicationCategory": "{{ app.category }}Application"
      }{%- unless forloop.last -%},{%- endunless -%}
      {%- endfor -%}
    ]
  }
}
</script>
  {%- endif -%}
{%- endif -%}